.svg-icon {
    position: absolute;
    top: 21.56rem;
    left: 0;
    width: 134.09rem;
    height: 33.78rem;
}

.img-1-icon,
.img-2-icon,
.img-3-icon,
.img-4-icon {
    position: absolute;
    top: 22.94rem;
    left: 7.69rem;
    width: 17.5rem;
    height: 17.5rem;
    object-fit: cover;
}

.img-2-icon,
.img-3-icon,
.img-4-icon {
    top: 4.19rem;
    left: 9.88rem;
}

.img-3-icon,
.img-4-icon {
    top: 24.69rem;
    left: 26.63rem;
}

.img-4-icon {
    top: 5.69rem;
    left: 28.69rem;
}

.ivn-alexis-oiivares {
    margin: 0;
    position: absolute;
    top: 6.63rem;
    left: 52.44rem;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
}

.hi-im-ivn {
    display: block;
}

.hi-im-ivn-container {
    margin: 0;
    position: absolute;
    top: 11.19rem;
    left: 52.44rem;
    font-size: 1.4rem;
    font-family: Inter;
    font-weight: 100;
    color: #f8fadb;
    text-align: left;
}

.aboutmecontent {
    position: absolute;
    top: 16.25rem;
    left: 9.31rem;
    border-radius: 5px;
    background-color: #b7d5ae;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
    width: 101.38rem;
    height: 45.81rem;
    overflow: hidden;
    text-align: center;
    font-size: 2.25rem;
    color: #555a4c;
    font-family: "Playfair Display";
}

.this-is-me {
    margin: 0;
    position: absolute;
    top: 3.81rem;
    left: 3.56rem;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 28.31rem;
}

.being-the-happiest {
    margin: 0;
    position: absolute;
    top: 9.13rem;
    left: 6.31rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    font-family: Inter;
    color: #555a4c;
}

.titlediv {
    position: absolute;
    top: 2rem;
    left: 42.31rem;
    width: 36.5rem;
    height: 12.38rem;
    overflow: hidden;
    text-align: center;
    font-size: 4rem;
    color: #f8fadb;
    font-family: "Playfair Display";
}

.component-about-me {
    position: relative;
    background-color: #9ecaa3;
    width: 100%;
    height: 67.5rem;
    overflow: hidden;
}